<script>
 (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-100698377-1', 'auto');
        ga('require', 'eventTracker', {
          attributePrefix: 'data-'
        });
        ga('set','contentGroup1','Home')
        ga('send', 'pageview');
</script>
<header role="banner" id="global-header" class="with-proposition">
  <div class="header-wrapper">
    <div class="header-global">
      <div class="header-logo">
        <a href="https://www.gov.uk" title="Go to the GOV.UK homepage" id="logo" class="content">
          <img src="{{ "/assets/images/gov.uk_logotype_crown_invert_trans.png" | relative_url }}"  width="36" height="32" alt=""> GOV.UK
        </a>
      </div>

    </div>

    <div class="header-proposition">
      <div class="content">
        <nav id="proposition-menu">
          <a href="https://www.ethnicity-facts-figures.service.gov.uk" id="proposition-name">
            Ethnicity facts and figures
          </a>
          <ul class="header-nav">
            <li><a href="https://www.ethnicity-facts-figures.service.gov.uk/ethnicity-in-the-uk.html">Ethnicity in the UK</a></li>
            <li><a href="https://www.ethnicity-facts-figures.service.gov.uk/background.html">Background</a></li>

          </ul>
        </nav>
      </div>
    </div>

  </div>
</header>