

main * {
  box-sizing: border-box;
}

main {
  padding-top: 20px;
}

.site-wrapper {
  @extend %site-width-container;
}

.home-index h2 {
  margin-top: 1em;
}

ul {
  padding-left: 20px;
  margin-top: 5px;
  margin-bottom: 20px;
  list-style-type: disc;
}

ol {
  padding-left: 25px;
  list-style-type: decimal;
}

.breadcrumbs ol {
  padding-left: 0;
}

ul ol li {
  margin-bottom: 0;
}

li {
  margin-bottom: 5px;
}


h2 {
  @include bold-24();

  margin-top: em(25, 20);
  margin-bottom: em(10, 20);

  @include media(tablet) {
    margin-top: em(45, 24);
    margin-bottom: em(20, 24);
  }

}

h3 {
  @include bold-19();
  margin-top: 2em;
  margin-bottom: em(5, 16);
}

h4 {
  @include bold-19();
  margin-top: 2em;
  margin-bottom: em(5, 16);
  color: #6f777b;
}

p {
  margin-top: 1em;
  margin-bottom: 1em;
}

main {
  box-sizing: border-box;
}

main p,
main ul {
  max-width: 660px;
}

strong {
  font-weight: bold;
}

figure.example {
  margin-left: 0px;
  padding-left: 16px;
  border-style: solid;
  border-width: 0 0 0 4px;

  &.good {
    border-color: #00823B;
  }

  &.bad {
    border-color: #B10E1E;
  }
}

figure.example figcaption {
  color: white;
  margin-left: -18px;
  margin-right: -18px;
  margin-top: -10px;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 5px;
  padding-bottom: 5px;
}

figure.example.good figcaption {
  background-color: #00823B;
}

figure.example.bad figcaption {
  background-color: #B10E1E;
}

figure .small-multiple-chart {
  float: left;
  margin-right: 15px;
  margin-left: 15px;
}

figure .multiple-charts {
  margin-left: -15px;
  margin-right: -15px;
}

figure .multiple-charts:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}

.missing-data-explanation {
  color: #6F777B;
  font-size: 16px;
}

/* Spacing between symbol and explanation */
.missing-data-explanation .missing-data {
  margin-right: 5px;
}

/* Spacing between explanations */
.missing-data-explanation .explanation {
  display: inline-block;
  margin-right: 10px;
}

/* Used for showing N/A in tables */
.not-applicable {
  color: $grey-1;
}

/* Asterisk – positioned as inline-block with negative margin
   so as to avoid increasing the row height. */
.not-applicable sup {
  display: inline-block;
  margin-top: -6px;
}

/* These missing data icons are typically used in table cells. */
.missing-data::after {
  background-color: #A2A4A6;
  color: white;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  line-height: 22px;
  font-size: 18px;
  width: 20px;
  height: 20px;
  border-radius: 10px;
}

.missing-data.confidential::after {
  content: '!'
}

.missing-data.sample-too-small::after {
  content: '?'
}

.missing-data.not-collected::after {
  content: '–'
}

blockquote {
  padding-left: 20px;
  border-left: 6px solid #bfc1c3;

}

.symbols-list {
  list-style-type: none;
  padding-left: 0;
}

.symbols-list kbd {
  display: inline-block;
  min-width: 3em;
  margin-right: 1em;
}


/* DS - additions for index page */
.section-list li {
	list-style: none;
    cursor: pointer;
    border-top: 1px solid #bfc1c3;
}
.section-list li a {
	text-decoration: none;
    display: block;
    padding: 10px 10px 10px 0;
}
.section-list li a .subsection-title-text {
	text-decoration: none;
    display: block;
    padding: 10px 10px 10px 0;
    color: #005ea5;
}
.section-list li a .subsection-summary {
    color: #0b0c0c;
    display: block;
}


/* DS - additions for A-Z page */
nav#toc ul {
	max-width: 100%;
	padding-top: 3em;
}
nav#toc ul li {
    /* margin-right: 30px; */
    display: inline;
    padding: .4em;
    line-height: 2em;
    font-size: 21px;
}
nav#toc ul li span {
	color: #6f777b;
}
h2.atoz-section {
    width:  2em;
    height:  2em;
    background: #1d70b8;
    text-align: center;
    line-height: 2.2em;
    color: #fff;
}
