---
layout: default
---

<div class="site-wrapper">
  <div class="breadcrumbs">
    <ol>
      <li><a href="{{ "/" | relative_url }}">Style guide</li>

      {% if page.category %}<li><a href="{{ page.category | slugify }}">{{ page.category }}</li>{% endif %}
      <li><a href="{{ absolute_url }}">{{ page.title }}</a></li>
    </ol>
  </div>
</div>

<main id="content">

  <div class="grid-row">
    <div class="column-one-half">.</div>
    <div class="column-one-half">.</div>
  </div>

  <h1 class="heading-large">{{ page.title }}</h1>

  {{ content }}

  </div>
</main>
